In [26]:
#Q1. Create one variable containing following type of data:
#(i)	string
#(ii)	list
#(iii)	float
#(iv)	tuple

 #detail_class_11th
no_of_student = 60
no_of_present_per_day= [40-50]
class_teacher_name = "rashmi"
average_percentage = 70.5
T = (20 ,'jessa' , 35.75 ,  [ 30 , 50 ,90] ) # never come to school
# 20 = average present in class , 
#35.75 = percentage in mid exam 
#[ 30 , 50 ,90] = mark of mid exam in pcm

In [32]:
type(T) , type(no_of_student) , type(no_of_present_per_day) , type(class_teacher_name) , type(average_percentage)

(tuple, int, list, str, float)

In [33]:
#Q2. Given are some following variables containing data:

var1 = ‘ ‘ # typ output = str

var2 = ‘[ DS , ML , Python]’  # typ output = str

var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]  #  typ output =list

var4 = 1.  # typ output = float


#What will be the data type of the above given variabl

SyntaxError: invalid character '‘' (U+2018) (1784233324.py, line 3)

In [34]:
var4 = 1.

In [42]:
type(var1)

str

In [37]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [39]:
var2 = ' [ DS , ML , Python]'

In [41]:
var1 = ''

In [43]:
#Q3. Explain the use of the following operators using an example: (i)	/  (ii)	%   (iii)	//    (iv)	*



# Division operator
a = 10
b = 2
c = a / b
print(c) # Output: 5.0

# Modulo operator
a = 10
b = 3
c = a % b
print(c) # Output: 1

# Integer division operator
a = 10
b = 3
c = a // b
print(c) # Output: 3

# Multiplication operator
a = 10
b = 2
c = a * b
print(c) # Output: 20

5.0
1
3
20

In [44]:
# Creating a list of length 10 containing multiple types of data
my_list = [1, 'hello', 2.5, True, [3, 4], {'name': 'John', 'age': 30}, None, 5+2j, False, (6, 7)]

# Using for loop to print each element and its data type
for element in my_list:
    print(f"{element} is of type {type(element)}")

1 is of type <class 'int'>
hello is of type <class 'str'>
2.5 is of type <class 'float'>
True is of type <class 'bool'>
[3, 4] is of type <class 'list'>
{'name': 'John', 'age': 30} is of type <class 'dict'>
None is of type <class 'NoneType'>
(5+2j) is of type <class 'complex'>
False is of type <class 'bool'>
(6, 7) is of type <class 'tuple'>

In [45]:
# Taking input from user
a = int(input("Enter the dividend: "))
b = int(input("Enter the divisor: "))

# Initializing a counter variable to keep track of how many times a can be divided by b
count = 0

# Using a while loop to check if a is divisible by b
while a % b == 0:
    a = a / b
    count += 1

# Checking if a is purely divisible by b
if a == 1:
    print(f"{a} is purely divisible by {b} and can be divided {count} times.")
else:
    print(f"{a} is not purely divisible by {b}.")

Enter the dividend: 5
Enter the divisor: 6
5 is not purely divisible by 6.

In [46]:
# Creating a list of 25 integer elements
my_list = [5, 7, 12, 4, 6, 18, 11, 21, 8, 17, 9, 15, 2, 1, 20, 14, 16, 10, 3, 13, 19, 22, 23, 24, 25]

# Using a for loop and if-else condition to check if each element is divisible by 3 or not
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

5 is not divisible by 3
7 is not divisible by 3
12 is divisible by 3
4 is not divisible by 3
6 is divisible by 3
18 is divisible by 3
11 is not divisible by 3
21 is divisible by 3
8 is not divisible by 3
17 is not divisible by 3
9 is divisible by 3
15 is divisible by 3
2 is not divisible by 3
1 is not divisible by 3
20 is not divisible by 3
14 is not divisible by 3
16 is not divisible by 3
10 is not divisible by 3
3 is divisible by 3
13 is not divisible by 3
19 is not divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [47]:
#An immutable object is an object whose value cannot be changed after it is created.
#Here is an example
string1 = "Hello"
string2 = string1

print(string1)  # Output: Hello
print(string2)  # Output: Hello

# Trying to change the first character of string1
string1[0] = "h"  # This will result in an error

Hello
Hello

TypeError: 'str' object does not support item assignment

In [48]:
#On the other hand, a mutable object is an object whose value can be changed after it is created
#Here is an example
my_list1 = [1, 2, 3]
my_list2 = my_list1

print(my_list1)  # Output: [1, 2, 3]
print(my_list2)  # Output: [1, 2, 3]

# Modifying the second element of my_list1
my_list1[1] = 5

print(my_list1)  # Output: [1, 5, 3]
print(my_list2)  # Output: [1, 5, 3]

[1, 2, 3]
[1, 2, 3]
[1, 5, 3]
[1, 5, 3]