Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list into a Pandas Series
series = pd.Series(my_list)

# Print the Pandas Series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:


Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female 
Then, print the DataFrame.

In [4]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [5]:
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [6]:
# Example Series
age_series = df['Age']
print("\nSeries:")
print(age_series)

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [7]:
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Emma'],
    'Age': [25, 30, 27, 22, 28],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print("First few rows:")
print(df.head())

print("\nLast few rows:")
print(df.tail())

First few rows:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
3   David   22    Male
4    Emma   28  Female

Last few rows:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
3   David   22    Male
4    Emma   28  Female

In [8]:
print("DataFrame shape:", df.shape)
# Output: DataFrame shape: (5, 3)

DataFrame shape: (5, 3)

In [9]:
df.info()
print("Descriptive statistics:")
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Gender  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes
Descriptive statistics:
            Age
count   5.00000
mean   26.40000
std     3.04959
min    22.00000
25%    25.00000
50%    27.00000
75%    28.00000
max    30.00000

In [10]:
# Access data using iloc
print(df.iloc[1])       # Access the second row
print(df.iloc[:, 0])    # Access the first column

# Access data using loc
print(df.loc[2])        # Access the row with label '2'
print(df.loc[:, 'Age']) # Access the 'Age' column

Name       Bob
Age         30
Gender    Male
Name: 1, dtype: object
0     Alice
1       Bob
2    Claire
3     David
4      Emma
Name: Name, dtype: object
Name      Claire
Age           27
Gender    Female
Name: 2, dtype: object
0    25
1    30
2    27
3    22
4    28
Name: Age, dtype: int64

In [13]:
# Drop the 'Gender' column
print(df.columns)
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Emma'],
    'Age': [25, 30, 27, 22, 28],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
gender_groups = df.groupby('Gender')
mean_age_by_gender = gender_groups['Age'].mean()
print(mean_age_by_gender)

Index(['Name', 'Age'], dtype='object')
Gender
Female    26.666667
Male      26.000000
Name: Age, dtype: float64