Q1. List any five functions of the pandas library with execution.

In [1]:
#read_csv()
import pandas as pd

# Read data from a CSV file into a DataFrame
df = pd.read_csv('data.csv')
#head()
# View the first 5 rows of the DataFrame
print(df.head())
#info()# Get a concise summary of the DataFrame
print(df.info())
#groupby()# Group data by 'Category' and calculate the mean 'Price' for each group
grouped_data = df.groupby('Category')['Price'].mean()
print(grouped_data)
#merge
# Merge two DataFrames based on the 'ID' column
merged_df = pd.merge(df1, df2, on='ID')
print(merged_df)

    name         email_id  phone_number
0   sudh   sudh@gmail.com      92342424
1  krish  krish@gmail.com       9324242
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          2 non-null      object
 1   email_id      2 non-null      object
 2   phone_number  2 non-null      int64
dtypes: int64(1), object(2)
memory usage: 180.0+ bytes
None

KeyError: 'Category'

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [2]:
import pandas as pd

def reindex_df(df):
    # Reset the index starting from 1 and incrementing by 2
    new_index = pd.RangeIndex(start=1, stop=len(df) * 2, step=2)
    df = df.reset_index(drop=True)
    df.index = new_index
    return df

# Example DataFrame
df = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]})

# Call the function to reindex the DataFrame
df_reindexed = reindex_df(df)
print(df_reindexed)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [3]:
import pandas as pd

def sum_first_three_values(df):
    # Get the first three values of the 'Values' column
    first_three_values = df['Values'].head(3)

    # Calculate the sum of the first three values
    total_sum = first_three_values.sum()

    # Print the sum to the console
    print("Sum of the first three values:", total_sum)

# Example DataFrame
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Call the function to calculate and print the sum of the first three values
sum_first_three_values(df)

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [4]:
import pandas as pd

def count_words(df):
    # Create a new 'Word_Count' column by splitting the 'Text' column and counting the words
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))

# Example DataFrame
df = pd.DataFrame({'Text': ['Hello, how are you?', 'Python is awesome', 'Data analysis is fun']})

# Call the function to add the 'Word_Count' column
count_words(df)
print(df)

                   Text  Word_Count
0   Hello, how are you?           4
1     Python is awesome           3
2  Data analysis is fun           4

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [5]:
#DataFrame.size():
print(df.size)
#DataFrame.shape():
print(df.shape)

6
(3, 2)

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [6]:
import pandas as pd

def select_rows(df):
    # Select rows where 'A' is greater than 5 and 'B' is less than 10
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example DataFrame
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}

df = pd.DataFrame(data)

# Call the function to select rows that satisfy the conditions
selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', you can use built-in functions to calculate the mean, median, and standard deviation of the values in the 'Values' column. Here's a Python function that does that:

In [7]:
import pandas as pd

def calculate_stats(df):
    # Calculate the mean, median, and standard deviation of the 'Values' column
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_deviation = df['Values'].std()

    return mean_value, median_value, std_deviation

# Example DataFrame
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Call the function to calculate the statistics
mean, median, std_dev = calculate_stats(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std_dev)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', you can use the rolling() function to calculate the moving average for each row. Here's a Python function that does that:

In [8]:
import pandas as pd

def calculate_moving_average(df):
    # Calculate the moving average using a window of size 7 and include the current day
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# Example DataFrame
data = {'Date': pd.date_range('2023-01-01', periods=10, freq='D'),
        'Sales': [100, 150, 120, 140, 180, 200, 170, 190, 210, 230]}
df = pd.DataFrame(data)

# Call the function to calculate the moving average
df = calculate_moving_average(df)
print(df)

        Date  Sales  MovingAverage
0 2023-01-01    100     100.000000
1 2023-01-02    150     125.000000
2 2023-01-03    120     123.333333
3 2023-01-04    140     127.500000
4 2023-01-05    180     138.000000
5 2023-01-06    200     148.333333
6 2023-01-07    170     151.428571
7 2023-01-08    190     164.285714
8 2023-01-09    210     172.857143
9 2023-01-10    230     188.571429

Q11. You can use the dt.weekday_name attribute to get the weekday name from the 'Date' column. Here's a Python function that creates a new column 'Weekday' in the DataFrame:

In [9]:
import pandas as pd

def add_weekday_column(df):
    # Convert the 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Create the 'Weekday' column containing the weekday name
    df['Weekday'] = df['Date'].dt.weekday_name

    return df

# Example DataFrame
data = {'Date': pd.date_range('2023-01-01', periods=5, freq='D')}
df = pd.DataFrame(data)

# Call the function to add the 'Weekday' column
df = add_weekday_column(df)
print(df)

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

Q12. To select all rows where the date is between '2023-01-01' and '2023-01-31', you can use boolean indexing with the pd.to_datetime() function. Here's a Python function that does that

In [10]:
import pandas as pd

def select_rows_between_dates(df, start_date, end_date):
    # Convert the 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Select rows where the date is between '2023-01-01' and '2023-01-31'
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return selected_rows

# Example DataFrame
data = {'Date': pd.date_range('2023-01-01', periods=10, freq='D'),
        'Value': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]}
df = pd.DataFrame(data)

# Call the function to select rows between '2023-01-01' and '2023-01-31'
start_date = '2023-01-01'
end_date = '2023-01-31'
selected_df = select_rows_between_dates(df, start_date, end_date)
print(selected_df)

        Date  Value
0 2023-01-01     10
1 2023-01-02     20
2 2023-01-03     30
3 2023-01-04     40
4 2023-01-05     50
5 2023-01-06     60
6 2023-01-07     70
7 2023-01-08     80
8 2023-01-09     90
9 2023-01-10    100

 To use the basic functions of pandas, the first and foremost necessary library that needs to be imported is pandas itself. You can import it using the following import statement:

In [11]:
import pandas as pd